*{margin: 0 auto;padding: 0 auto;}
body{
    font-size:10px;
}
/* SECTION */
nav{
    background-color: #fffbf0;
}
.navbar-brand img{
    width: 20rem !important;
} 
/* SECTION */
.top-section{
    background-color: #fffbf0;
    height:auto ;
    padding: 7rem 0;
}

.top-section h1 {
    text-transform: uppercase;
    color: rgb(250, 190, 76);
    font-size: 4rem;
    line-height: 4.5rem;
    font-family: system-ui;
    letter-spacing: -.3rem;
    font-weight: 700;
}
.top-section h1 span{
    color:#363958;
}
.top-section p {
    color:#3e3e3e ;
    font-family: 'Titillium Web', sans-serif;
    font-size: 1rem;
    font-weight: 400;

}
.top-section button{
    border-radius: .6rem;
    background-color: #92ac2b;
    padding: .8rem 1.5rem;
    color: white;
    text-transform: uppercase;
}
.top-section button img{
    width: 20px;
}
.top-section img{
    width: 400px;
}
/* SECTION Woman Jacket*/
.card{
    border: none !important;
    width:18rem;
}
.card-header{border-bottom: none !important;}
.card-title {
    margin-bottom: .5rem;
    font-family: system-ui;
    font-size: 1.3rem;
    color: #363958;
}
.woman-jacket h2, .man-jacket h2 {
    font-weight: 700;
    padding: 1.5rem 0;
    margin-bottom: 1.5rem;
    color: #363958;
    font-size: 2.5rem;
    font-family: system-ui;
    letter-spacing: -.17rem;
}
.woman-jacket{
    padding-bottom: 2rem;
}
.man-jacket{
    padding-bottom: 5rem;
}
.woman-jacket .card-body span, .man-jacket .card-body span{
    font-size: 2rem;
    color:#FABE4C;
    font-weight: 700;
}
.woman-jacket .card-body p, .man-jacket .card-body p{
    font-size: 0.9rem;
    margin-bottom: 2rem;
    margin-top: 1rem;
}
.woman-jacket button, .man-jacket button{
    background-color: #92ac2b;
    color: white;
    text-transform: uppercase;
    position: relative;
    top: -0.5rem;
    left: 2.2rem;
    border-radius: .6rem;
    padding: .8rem 1.5rem;
}
.woman-jacket button img, .man-jacket button img{
    width: 20px;
}
.image-behind{
    background-color: #F1F1F1;
}
.card-image{
    width: 100% !important;
}

/* SECTION */
.info{
    padding-bottom: 10rem;
}
.info .logo{
    margin-right: 3rem;
}
.info .logo img{
    width: 5rem;
}
.info .details{
    margin-right: 4rem;
}
.info .details h3{
    font-family: 'Titillium Web', sans-serif;
    font-size: 1.5rem;
    color: #363958;
    font-weight: bold;
}
.info .details p{
    font-family: 'Titillium Web', sans-serif;
    font-size: 1rem;
}

/*Footer*/
footer{
    background-color: #373855;
    color: #fff; 
}